
h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:13px; }

body {
	background-color: black;
	margin: 0;
	border: 0;
	padding: 0;
}

.menu-section {
	padding: 0.5rem;
	/* border: 1px solid grey; */
}

.main-section {
	/* border: 1px solid grey; */
}

a {
	text-decoration: none;
}

/* the ul containing a menu/submenu */
.menu {
	/* padding: 0 0 0 0.5rem;*/
	list-style-type: none;
	list-style-position: inside;

	/*background-color: white;*/
	/* border: 1px solid grey; */

	margin: 0;
	border: 0;
	padding: 0;
}

.menuentry, .menucategory {
	background-color: dodgerblue;
	/* display: inline; */
	padding: 0.5rem;
}

/* normal menue entry (li) */
.menuentry {
	border: 1px solid blue;
}

.menuentry:hover {
	color: white;
	background-color: blue;
}

.menuentry:hover a {
	color: white;
	background-color: blue;
}

/* container menu with submenues (li) */
.menucategory {
}

.section {
	margin: 1rem;
	padding: 0;
	background-color: white;
}
.artists, .projects, .artist, .project {
	border: 1px solid grey;
	border-radius: 5px;
}

.article {
	border: 1px solid grey;
	box-shadow: 2px 2px 5px grey;
}

.input-div {
	padding: 0.5rem;
}

.input-caption {
}

.input {
	width: 100%;
	display: inline-block;
}

.textarea {
	height: 20rem;
	resize: vertical;
}
